.articles-slider {
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 97px;
  flex-wrap: wrap;
}

.articles-slider__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: block;
  margin-bottom: 30px;

  &:hover {
    transform: scaleY(1.3);
  }
}

.articles-slider__link img {
  display: block;
}

@media (max-width: $tablet-width) {
  .articles-slider {
    padding-left: 20px;
    padding-right: 20px;
  }
}
