.main-nav {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 47px;
}

.main-nav__header {
  @include large-text;
  color: $main-text-color;
  text-align: center;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  margin-bottom: 46px;
  text-transform: none;
}

.main-nav__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__link {
  @include normal-text;
  color: $main-text-color;
  text-decoration: none;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  outline: none;

  &:hover,
  &:focus {
    color: $text-color-hover;
    animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  &:active {
    opacity: 0.5;
    animation: blur-out-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
}

@keyframes blur-out-expand {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}

@media (max-width: $tablet-width) {
  .main-nav__wrapper {
    max-width: 1023px;
  }

  .main-nav__header {
    font-size: 30px;
  }

  .main-nav__list {
    display: flex;
    width: 100%;
  }

  .main-nav__link {
    font-size: 13px;
  }
}

@media (max-width: $mobile-width) {
  .main-nav {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 30px;
    padding-top: 40px;
  }

  .main-nav__list {
    flex-direction: column;
  }

  .main-nav__link {
    @include normal-text;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    color: $nav-text-color-mobile;
    background-color: $mobile-link-color;
    display: block;
    margin-bottom: 20px;
    padding: 18px 16px;

    &:hover,
    &:focus {
      // opacity: 0.8;
      animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    &:active {
      // opacity: 0.7;
      animation: blur-out-expand 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
  }

  @keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@keyframes blur-out-expand {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}

  .main-nav__header {
    margin-bottom: 0;
    padding: 0 11px;
  }
}
