.main {
  padding-top: 99px;
}

.main__wrapper {
  max-width: 1174px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main__container {
  width: 766px;
  margin: 0 auto;
}

@media (max-width: $tablet-width) {
  .main__wrapper {
    max-width: 1023px;
  }
}
